*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-bar .logo {
    color: darkgoldenrod;
    font-size: 1.5rem;
}
.nav-bar .logo h1 {
    font-weight: 900;
    margin-top: -40px;
}
.nav-bar nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
.nav-bar nav ul a {
    text-decoration: none;
    color: white;
   font-weight: 600;
   transition: color 0.3s ease;
}
.nav-bar a:hover {
    color: darkgoldenrod;
}
.nav-bar .nav-btn {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.nav-bar .nav-btn:hover {
    background-color: darkgoldenrod;
}
.upper-side {
    background: linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)),url(img/clean1.jpg)center/cover no-repeat;
}
.upper-side .para {
    width: 600px;
    padding: 190px 40px;
    max-width: 800px;
}
.upper-side .para h4{
    background-color: rgb(192, 188, 188);
    border-radius: 100px;
    display: inline;
    padding: 7px 12px;
}
.upper-side .para h1 {
    font-weight: 800;
    font-size: 32px;
    color: #f5f5f5;
    margin-top: 20px;
}
.upper-side .para p {
    font-size: 15px;
    color: #f5f5f5;
    margin-top: 7px;
    width: 350px;
    margin-bottom: 12px;
}
.upper-side .but {
    display: flex;
    gap: 20px;
}
.upper-side .but .para-but {
    padding: 10px 12px;
    border-radius: 90px;
    border: none;
    height: 40px;
}
.upper-side .but .para-but a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.upper-side .but .lan {
    background-color: darkgoldenrod;
    transition: background-color 0.3s ease;
}
.upper-side .but .lan:hover {
    background-color: rgb(110, 95, 58);
}
.upper-side .but .wan {
    background-color: transparent;
    color: #f5f5f5;
    transition: background-color 0.3s ease;
}
.upper-side .but .wan a {
    color: #f5f5f5;
}
.upper-side .but .wan:hover {
    background-color: rgb(110, 95, 58);
}
.upper-side .bata {
    padding: 40px;
}
.upper-side .bata .bata-img {
    display: flex;
    color: #f5f5f5;
    gap: 20px;
}
.upper-side .bata .bata-img img {
    width: 40px;
    border-radius: 100px;
    margin-top: 9px;
}
.upper-side .bata .bata-img p{
    margin-bottom: 15px;
}
.upper-side .bata .bata-butts {
   text-align: right;
}
.upper-side .bata .bata-butts a  {
    background-color: rgb(192, 188, 188);
    padding: 10px 10px;
    border-radius: 100px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
    margin: 12px;
    transition: background-color 0.3s ease;
}
.upper-side .bata .bata-butts a:hover {
    background-color: darkgoldenrod;
}
.rate-container{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background: linear-gradient(to right, white, rgb(163, 161, 161)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2));
}
.rate-container .card {
    text-align: left;
    border-left: 1px solid black;
    padding: 10px;
    align-items: center;
}
.Service {
    text-align: center;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to right, white, rgb(163, 161, 161)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2));
}
.Service h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.Service p {
    margin-bottom: 35px;
}
.Service .serv-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 19px;
    max-width: 1200px;
}
.Service .serv-img .sets{
    position: relative;
    width: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 30px; 
}
.Service .serv-img .win {
    background: linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)), url(img/clean5.jpg)center/cover no-repeat;
    min-width: 500px;
}
.Service .serv-img .laun {
    background: linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)), url(img/clean6.jpeg)center/cover no-repeat;
    min-width: 500px;
}
.Service .serv-img p {
    color: white;
    padding: 10px ;
    margin-top: 500px;
    text-align: left;
}
.Service .grid {
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.Service .grid .grid-lit {
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-bottom: 30px;
}
.Service .grid-lit .card {
    background: #f7f1f1;
    border-radius: 19px;
    padding: 3.0rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    text-align: left;
}
.Service .grid-lit .card img {
    width: 50px;
}
.Service .grid-lit .card h3 {
    font-weight: 600;
}
.Service .grid-lit .card p {
    font-size: 13px;
}
.choose {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(to right, white, rgb(163, 161, 161)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2));
    flex-wrap: wrap;
}
.choose .why-choos h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.choose .why-choos .asps {
    font-size: 14px;
    margin-bottom: 18px;
}
.choose .choos-cont .items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.choose .choos-cont .icon img {
    width: 50px;
    margin-top: -10px;
}
.choose .choos-cont .choos-info p {
    font-weight: 600;
}
.choose .choos-butns button {
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    background-color: darkgoldenrod;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.choose .choos-butns button:hover {
    background-color: rgb(110, 95, 58);
}
.choose .choos-butns a {
    text-decoration: none;
    color: #000;
}
.choose .choos-img img {
    width: 550px;
    margin-top: 30px;
    border-radius: 15px;
    height: 100%;
}
.story {
    padding: 20px 30px;
    color: black;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, white, rgb(163, 161, 161)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2));
}
.story .story-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 70px;
}
.story .story-cont .me {
    font-size: 40px;
    font-weight: 600;
}
.history {
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.history .his-cont {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
}
.story .history .his-card img {
    width: 50px;
}
.history .his-card {
    background: transparent;
    border-radius: 19px;
    padding: 2.0rem;
    text-align: left;
}
.story .atss {
    margin-top: -60px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 500px;
}
.story .atss img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.testimonial {
    display: flex;
    padding: 20px 40px;
    color: black;
    align-items: center;
    gap: 50px;
    text-align: center;
    background: linear-gradient(to right, white, rgb(163, 161, 161)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2));
}
.testimonial .testimony {
    background: #f7f1f1;
    border-radius: 19px;
    padding: 3.0rem;
    margin-left: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.testimonial .testimony h2 {
    margin-bottom: 25px;
}
.testimonial .testimony p {
    font-size: 14px;
    margin-bottom: 10px;
}
.testimonial .testimony h4 {
    margin-bottom: 25px;
}
.testimonial .contact {
    background: #f7f1f1;
    border-radius: 19px;
    padding: 3.0rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    text-align: left;
}
.testimonial .contact h2 {
    margin-bottom: 20px;
}
.testimonial .c-icon img{
    width: 40px;
}
.testimonial .c-numb p {
    margin-top: 15px;
}
footer {
    background-color: #333;
    color: white;
    padding: 35px 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
footer h2 {
    margin-bottom: 15px;
}
footer .f-btn {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    display: inline-block;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
footer .f-btn:hover {
    background-color: darkgoldenrod;
}
footer .f-btn a {
    text-decoration: none;
    color:black;
}
footer p {
    margin-top: 50px;
    margin-bottom: -25px;
}
footer .f-dry a {
    color: #f5f5f5;
    text-decoration: none;
}
footer a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}